Repository CurtinFRC/2019-DeepSpace, pull requests merged in 2019-02, with the labels that each got.

#71 Beta Version Of The Vision Tracking.
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/include/BallProcessing.h
  vision/src/main/include/HatchProcessing.h
  vision/src/main/include/TapeProcessing.h
Labels: enhancement, vision

#75 Strategy dev
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/Toggle.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/Toggle.h
  common/src/test/cpp/test_Toggle.cpp
  libs/halsim_ds_socketd.dll
Labels: 5333 Only, common, enhancement

#76 Creating better hatch detection
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/Capture.cpp
  vision/src/main/cpp/Display.cpp
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
Labels: enhancement, vision

#83 Added PID to elevator
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Lift.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/control/PIDController.cpp
  common/src/main/include/Elevator.h
  common/src/main/include/control/PIDController.h
  common/src/main/include/loops/LoopSystem.h
Labels: common, enhancement

#84 Added BoxIntake
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
Labels: 5333 Only, enhancement

#85 Field oriented control
  .vscode/settings.json
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/control/PIDController.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/control/PIDController.h
Labels: 5333 Only, common, enhancement

#88 Added POV angle snap state
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/include/CurtinControllers.h
  common/src/main/include/Drivetrain.h
  teams.gradle
Labels: 5333 Only, enhancement

#89 Intakes etc
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/ControlMap.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
Labels: 5333 Only, enhancement

#97 Changed lift preset approach
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Lift.h
  5333/src/main/include/Robot5333.h
Labels: 5333 Only, enhancement

#106 Added IsDone() to PIDController
  common/src/main/cpp/control/PIDController.cpp
  common/src/main/include/control/PIDController.h
Labels: common, enhancement

#113 Vision Competition Ready Code
  vision/README.md
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/main.cpp
Labels: common, enhancement, vision

#112 Fixed the kMoving sudden SetHold()
  common/src/main/cpp/Elevator.cpp
Labels: 5333 Only, bug

#108 Added LiftZeroStrategy (not mapped)
  5333/src/main/cpp/Lift.cpp
  5333/src/main/include/Lift.h
  common/src/main/include/devices/StateDevice.h
Labels: 5333 Only, enhancement

#107 Add skeleton code for auto movement
  5663/src/main/cpp/Robot5663.cpp
  5663/src/main/include/Robot5663.h
  vision/src/main/cpp/TapeProcessing.cpp
Labels: 5663 Only, common, enhancement, vision

#114 Multi-joy
  .vscode/settings.json
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/ControlMap.h
  5333/src/main/include/HarvesterIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Lift.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/main/include/Drivetrain.h
Labels: 5333 Only, common, enhancement

#118 Hatch generalisation
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/actuators/BinaryServo.cpp
  common/src/main/include/actuators/BinaryServo.h
Labels: 5333 Only, common, enhancement

#123 Added Toggle rise and fall getters
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/test/cpp/test_Joystick.cpp
Labels: common, enhancement

#131 (Optionaly) let devices::DeployableDevice eject while stowed
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/include/devices/DeployableDevice.h
Labels: 5333 Only, bug, common, enhancement

#128 Fixed the hatch bug with a simple copy-paste
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/include/HatchIntake.h
Labels: 5333 Only, bug

#129 Strategies now trigger on button release
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  common/src/main/include/CurtinControllers.h
Labels: 5333 Only, enhancement

#130 Week 5
  .vscode/settings.json
  5663/src/main/cpp/Cargo.cpp
  5663/src/main/cpp/DriveFunc.cpp
  5663/src/main/cpp/Hatch.cpp
  5663/src/main/cpp/Robot5663.cpp
  5663/src/main/include/Cargo.h
  5663/src/main/include/DriveFunc.h
  5663/src/main/include/Hatch.h
  5663/src/main/include/Robot5663.h
  common/src/main/cpp/actuators/DoubleSolenoid.cpp
  common/src/main/include/CurtinCtre.h
  common/src/main/include/actuators/BinaryActuator.h
  common/src/main/include/actuators/BinaryServo.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/sensors/Encoder.h
  common/src/robot/cpp/CurtinCtre.cpp
  common/src/simulation/cpp/curtin_ctre.cpp
  frcUserProgram5663-BACKUP.bin
Labels: 5663 Only

#134 Pneumatics stuffs
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/ControlMap.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/actuators/Compressor.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/cpp/sensors/PressureSensor.cpp
  common/src/main/include/actuators/Compressor.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/sensors/PressureSensor.h
Labels: 5333 Only, common, enhancement

#140 Robot testing (16/02 night)
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/cpp/strategies/DriveStrategies.cpp
  5333/src/main/include/ControlMap.h
  5333/src/main/include/HatchIntake.h
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/include/Elevator.h
  common/src/main/include/actuators/Compressor.h
  common/src/main/include/devices/DeployableDevice.h
  common/src/main/include/devices/StateDevice.h
Labels: 5333 Only

#135 Added new angle alignment strategy (not mapped)
  5333/src/main/cpp/strategies/DriveStrategies.cpp
  5333/src/main/include/Robot5333.h
  5333/src/main/include/strategies/DriveStrategies.h
Labels: 5333 Only, enhancement

#139 VoltageController migration
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/HarvesterIntake.h
  5333/src/main/include/Lift.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  5663/src/main/cpp/Robot5663.cpp
  Testbot/src/main/cpp/TestRobot.cpp
  common/src/main/cpp/CurtinCtre.cpp
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/actuators/BinaryEncoderMotor.cpp
  common/src/main/cpp/actuators/BinaryLimitMotor.cpp
  common/src/main/include/CurtinCtre.h
  common/src/main/include/Gearbox.h
  common/src/main/include/actuators/VoltageController.h
  common/src/robot/cpp/CurtinCtre.cpp
  common/src/simulation/cpp/curtin_ctre.cpp
  common/src/simulation/cpp/windows/drivetrains.cpp
  common/src/simulation/cpp/windows/elevators.cpp
Labels: common

#144 Generalisation of CurtinControllers and addition of XboxController
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/cpp/strategies/DriveStrategies.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/ControlMap.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Lift.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  5333/src/main/include/strategies/DriveStrategies.h
  Testbot/src/main/cpp/TestRobot.cpp
  Testbot/src/main/include/TestRobot.h
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/test/cpp/test_Joystick.cpp
Labels: 5333 Only, common, enhancement

#151 Change CurtinControllers to be wrappers
  5333/src/main/cpp/ControlMap.cpp
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/test/cpp/test_Joystick.cpp
Labels: 5333 Only, common, enhancement

#153 Tuned the Lift PID
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/CurtinControllers.cpp
Labels: 5333 Only, enhancement

#155 Add velocity stuffs, and some other fixes
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/control/PIDController.cpp
  common/src/main/cpp/strategy/MPStrategy.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/Elevator.h
  common/src/main/include/control/PIDController.h
  common/src/main/include/devices/StateDevice.h
Labels: 5333 Only, common, enhancement

#152 Vision finalization
  Testbot/src/main/include/TestRobot.h
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/Process.cpp
  vision/src/main/cpp/ProcessController.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/include/HatchProcessing.h
  vision/src/main/include/Process.h
  vision/src/main/include/ProcessController.h
  vision/src/main/include/TapeProcessing.h
Labels: enhancement, vision

#142 Vision integration (p1)
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
Labels: 5333 Only, enhancement

#156 Controllers update
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/include/ControlMap.h
  common/src/main/include/CurtinControllers.h
Labels: common, enhancement

#158 Add 3 controller scheme, and add curtinfrc::Selector
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/cpp/strategies/DriveStrategies.cpp
  5333/src/main/include/ControlMap.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/main/include/Selector.h
  common/src/test/cpp/test_Joystick.cpp
  common/src/test/cpp/test_Selector.cpp
Labels: 5333 Only, common, enhancement
