Repository CurtinFRC/2019-DeepSpace, pull requests merged in 2019-03, with the labels that each got.

#160 Update to Vision README.md
  vision/README.md
Labels: vision

#161 Controller virtualisation
  5333/src/main/cpp/BoxIntake.cpp
  5333/src/main/cpp/ControlMap.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/cpp/strategies/DriveStrategies.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/ControlMap.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Lift.h
  5333/src/main/include/RobotMap.h
  5333/src/main/include/strategies/DriveStrategies.h
  Testbot/src/main/cpp/TestRobot.cpp
  Testbot/src/main/include/TestRobot.h
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/cpp/controllers/CurtinControllers.cpp
  common/src/main/cpp/controllers/Inputs.cpp
  common/src/main/cpp/controllers/SmartController.cpp
  common/src/main/include/CurtinControllers.h
  common/src/main/include/Drivetrain.h
  common/src/main/include/Selector.h
  common/src/main/include/controllers/Controller.h
  common/src/main/include/controllers/CurtinControllers.h
  common/src/main/include/controllers/Inputs.h
  common/src/main/include/controllers/SmartController.h
  common/src/test/cpp/test_Controller.cpp
  common/src/test/cpp/test_Joystick.cpp
  common/src/test/cpp/test_Selector.cpp
Labels: common, enhancement

#166 Using this branch now?
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Robot5333.h
  5663/src/main/cpp/Hatch.cpp
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/NTProvider.cpp
  common/src/main/cpp/actuators/BinaryActuator.cpp
  common/src/main/cpp/actuators/BinaryEncoderMotor.cpp
  common/src/main/cpp/actuators/BinaryLimitMotor.cpp
  common/src/main/cpp/actuators/BinaryServo.cpp
  common/src/main/cpp/actuators/Compressor.cpp
  common/src/main/cpp/actuators/DoubleSolenoid.cpp
  common/src/main/cpp/controllers/Inputs.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/cpp/sensors/LimitSwitch.cpp
  common/src/main/cpp/sensors/PressureSensor.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/Elevator.h
  common/src/main/include/NTProvider.h
  common/src/main/include/actuators/BinaryActuator.h
  common/src/main/include/actuators/BinaryEncoderMotor.h
  common/src/main/include/actuators/BinaryLimitMotor.h
  common/src/main/include/actuators/BinaryServo.h
  common/src/main/include/actuators/Compressor.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/controllers/Inputs.h
  common/src/main/include/devices/DeployableDevice.h
  common/src/main/include/devices/StateDevice.h
  common/src/main/include/sensors/BinarySensor.h
  common/src/main/include/sensors/DoubleSensor.h
  common/src/main/include/sensors/LimitSwitch.h
  common/src/main/include/sensors/PressureSensor.h
  common/src/main/include/sensors/SensorBase.h
Labels: 5333 Only, URGENT, bug, common, enhancement

#167 Change devices::StateDevice to implement devices::StateDeviceBase
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/NTProvider.cpp
  common/src/main/cpp/actuators/BinaryActuator.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/Elevator.h
  common/src/main/include/NTProvider.h
  common/src/main/include/actuators/BinaryActuator.h
  common/src/main/include/actuators/BinaryEncoderMotor.h
  common/src/main/include/actuators/BinaryLimitMotor.h
  common/src/main/include/actuators/BinaryServo.h
  common/src/main/include/actuators/Compressor.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/devices/DeployableDevice.h
  common/src/main/include/devices/StateDevice.h
Labels: 5333 Only, URGENT, common, enhancement

#168 Control mapping
  5333/src/main/cpp/ControlMap.cpp
  common/src/main/include/controllers/CurtinControllers.h
Labels: 5333 Only, URGENT, enhancement

#165 Add curtinfrc::NTProvider (and implement it in 5333 code)
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/BoxIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
  5663/src/main/cpp/Hatch.cpp
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/NTProvider.cpp
  common/src/main/cpp/actuators/BinaryEncoderMotor.cpp
  common/src/main/cpp/actuators/BinaryLimitMotor.cpp
  common/src/main/cpp/actuators/BinaryServo.cpp
  common/src/main/cpp/actuators/Compressor.cpp
  common/src/main/cpp/actuators/DoubleSolenoid.cpp
  common/src/main/cpp/controllers/Inputs.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/cpp/sensors/LimitSwitch.cpp
  common/src/main/cpp/sensors/PressureSensor.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/Elevator.h
  common/src/main/include/NTProvider.h
  common/src/main/include/actuators/BinaryActuator.h
  common/src/main/include/actuators/BinaryEncoderMotor.h
  common/src/main/include/actuators/BinaryLimitMotor.h
  common/src/main/include/actuators/BinaryServo.h
  common/src/main/include/actuators/Compressor.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/controllers/Inputs.h
  common/src/main/include/devices/DeployableDevice.h
  common/src/main/include/devices/StateDevice.h
  common/src/main/include/sensors/BinarySensor.h
  common/src/main/include/sensors/DoubleSensor.h
  common/src/main/include/sensors/LimitSwitch.h
  common/src/main/include/sensors/PressureSensor.h
  common/src/main/include/sensors/SensorBase.h
Labels: 5333 Only, URGENT, common, enhancement

#169 Add cont 2 to '3 cont' cont map
  5333/src/main/cpp/ControlMap.cpp
  common/src/main/cpp/controllers/Inputs.cpp
Labels: 5333 Only, URGENT, enhancement
