Repository CurtinFRC/2019-DeepSpace, pull requests merged in 2019-01, with the labels that each got.

#12 Add Drivetrain class
  Testbot/src/main/cpp/TestRobot.cpp
  Testbot/src/main/include/TestRobot.h
  common/src/main/cpp/Drivetrain.cpp
  common/src/main/include/Drivetrain.h
  common/src/main/include/SensoredTransmission.h
Labels: common

#14 changed from xbox to joystick (untested)
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
Labels: 5333 Only

#19 making curtinfrc::TalonSrx inherit from curtinfrc::sensors::Encoder
  common/src/main/cpp/CurtinCtre.cpp
  common/src/main/cpp/sensors/Encoder.cpp
  common/src/main/include/CurtinCtre.h
  common/src/main/include/sensors/Encoder.h
Labels: common, enhancement

#20 Added curtinfrc::Joystick
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  Testbot/src/main/cpp/TestRobot.cpp
  Testbot/src/main/include/TestRobot.h
  common/src/main/cpp/CurtinControllers.cpp
  common/src/main/include/CurtinControllers.h
  common/src/test/cpp/main.cpp
  common/src/test/cpp/test_Joystick.cpp
  common/src/test/cpp/test_Toggle.cpp
Labels: common, enhancement

#26 Merge Drivebase-Testing into master
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  common/src/main/cpp/CurtinCtre.cpp
  common/src/main/include/CurtinCtre.h
  common/src/robot/cpp/CurtinCtre.cpp
  common/src/simulation/cpp/curtin_ctre.cpp
  common/src/simulation/include/simulation/ctre_sim.h
Labels: 5333 Only, common, enhancement

#28 Implementation of curtinfrc::StateDevice and refinement of sensors::Encoder
  5333/src/main/cpp/Lift.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Lift.h
  5333/src/main/include/Robot5333.h
  common/src/main/cpp/Elevator.cpp
  common/src/main/cpp/sensors/Encoder.cpp
  common/src/main/include/CurtinCtre.h
  common/src/main/include/Elevator.h
  common/src/main/include/StateDevice.h
  common/src/main/include/sensors/Encoder.h
  common/src/robot/cpp/CurtinCtre.cpp
  common/src/simulation/cpp/curtin_ctre.cpp
Labels: common, enhancement

#9 Tape Tracking Fully Functioning, Working on Calculations and Ball tracking
  vision/src/main/cpp/BallCapture.cpp
  vision/src/main/cpp/BallInit.cpp
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/Depth.cpp
  vision/src/main/cpp/Display.cpp
  vision/src/main/cpp/Run.cpp
  vision/src/main/cpp/TapeCapture.cpp
  vision/src/main/cpp/TapeInit.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/cpp/vision.cpp
  vision/src/main/include/BallCapture.h
  vision/src/main/include/BallInit.h
  vision/src/main/include/BallProcessing.h
  vision/src/main/include/Depth.h
  vision/src/main/include/Display.h
  vision/src/main/include/Run.h
  vision/src/main/include/TapeCapture.h
  vision/src/main/include/TapeInit.h
  vision/src/main/include/TapeProcessing.h
Labels: common, vision

#35 Apparently the thing I did doesn't work in c++?
  5333/src/main/cpp/Robot5333.cpp
Labels: 5333 Only

#33 Intakes
  common/src/main/cpp/intakes/PneumaticIntake.cpp
  common/src/main/cpp/intakes/WheeledIntake.cpp
  common/src/main/include/intakes/Intake.h
  common/src/main/include/intakes/PneumaticIntake.h
  common/src/main/include/intakes/WheeledIntake.h
Labels: common, enhancement

#39 Add target finding code & fix thread joining
  vision/src/main/cpp/Capture.cpp
  vision/src/main/cpp/Display.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/VisionRunner.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/include/Capture.h
  vision/src/main/include/TapeProcessing.h
Labels: vision

#51 Create RobotMap
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/Robot5333.h
  5333/src/main/include/RobotMap.h
Labels: common, enhancement

#40 Fixed The SlimBoi™
  .vscode/settings.json
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/Capture.cpp
  vision/src/main/cpp/Display.cpp
  vision/src/main/cpp/Process.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/include/Capture.h
  vision/src/main/include/Display.h
  vision/src/main/include/Process.h
  vision/src/main/include/Runnable.h
  vision/src/main/include/TapeProcessing.h
  vision/src/main/include/VisionRunner.h
  vision/src/main/resources/run.sh
Labels: enhancement, vision

#59 Generalisation of Harvester + Hatch Intakes, and redo of actuators::BinaryActuator
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/include/HarvesterIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/RobotMap.h
  common/src/main/cpp/DoubleSolenoid.cpp
  common/src/main/cpp/actuators/BinaryEncoderMotor.cpp
  common/src/main/cpp/actuators/BinaryLimitMotor.cpp
  common/src/main/cpp/actuators/DoubleSolenoid.cpp
  common/src/main/cpp/intakes/DeployableIntake.cpp
  common/src/main/include/DoubleSolenoid.h
  common/src/main/include/actuators/BinaryActuator.h
  common/src/main/include/actuators/BinaryEncoderMotor.h
  common/src/main/include/actuators/BinaryLimitMotor.h
  common/src/main/include/actuators/DoubleSolenoid.h
  common/src/main/include/intakes/DeployableIntake.h
Labels: 5333 Only, common, enhancement

#64 Devices
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/HarvesterIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Lift.h
  common/src/main/cpp/Toggle.cpp
  common/src/main/cpp/devices/DeployableDevice.cpp
  common/src/main/cpp/intakes/DeployableIntake.cpp
  common/src/main/include/Elevator.h
  common/src/main/include/StateDevice.h
  common/src/main/include/devices/DeployableDevice.h
  common/src/main/include/devices/StateDevice.h
  common/src/main/include/intakes/DeployableIntake.h
  common/src/main/include/physics/DcMotor.h
Labels: 5333 Only, common, enhancement

#68 Adding seconds camera
  vision/src/main/cpp/BallProcessing.cpp
  vision/src/main/cpp/Capture.cpp
  vision/src/main/cpp/Display.cpp
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/Process.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
  vision/src/main/include/Capture.h
  vision/src/main/include/Display.h
  vision/src/main/include/Process.h
  vision/src/main/include/Runnable.h
  vision/src/main/include/TapeProcessing.h
Labels: enhancement, vision

#65 Joystick controls
  5333/src/main/cpp/Drivetrain.cpp
  5333/src/main/cpp/HarvesterIntake.cpp
  5333/src/main/cpp/HatchIntake.cpp
  5333/src/main/cpp/Robot5333.cpp
  5333/src/main/include/HarvesterIntake.h
  5333/src/main/include/HatchIntake.h
  5333/src/main/include/Robot5333.h
  common/src/main/include/Drivetrain.h
Labels: 5333 Only, enhancement

#69 Adding seconds camera
  vision/src/main/cpp/HatchProcessing.cpp
  vision/src/main/cpp/TapeProcessing.cpp
  vision/src/main/cpp/main.cpp
Labels: enhancement, vision
